body {

            background-color: #1a1a1a;

            color: #00ffcc;

            font-family: 'Orbitron', sans-serif;

            margin: 0;

            padding: 0;

            text-align: center;

        }



        h2 {

            font-size: 3rem;

            color: #00ffcc;

            text-shadow: 0px 0px 10px #00ffcc;

            margin-top: 20px;

        }



        iframe {

            border: 2px solid #00ffcc;

            box-shadow: 0px 0px 15px #00ffcc;

            margin-top: 20px;

            width: 90%;

            height: 600px;

            transition: all 0.3s ease-in-out;

        }
        
        embed {

            border: 2px solid #00ffcc;

            box-shadow: 0px 0px 15px #00ffcc;

            margin-top: 20px;

            width: 90%;

            height: 600px;

            transition: all 0.3s ease-in-out;

        }



        iframe:hover {

            transform: scale(1.02);

            box-shadow: 0px 0px 25px #ff00ff;

        }
        
        embed:hover {

            transform: scale(1.02);

            box-shadow: 0px 0px 25px #ff00ff;

        }



        .back-button {

            display: inline-block;

            margin-top: 30px;

            padding: 15px 30px;

            background-color: #333;

            border: 2px solid #00ffcc;

            color: #00ffcc;

            text-decoration: none;

            font-size: 1.5rem;

            border-radius: 10px;

            box-shadow: 0px 0px 15px #00ffcc;

            transition: background 0.3s ease, box-shadow 0.3s ease;

        }



        .back-button:hover {

            background-color: #ff00ff;

            box-shadow: 0px 0px 25px #ff00ff;

        }
        .fullscreen-button {
            position: absolute;
            top: 740px;
            right: 80px;
            padding: 15px 30px;
            border-radius: 10px;
        }

        .fsimg {
            height: 30px;
            width: 30px;
            margin-top: 63px;
        }

        .options-bar {
            width: 90%;
            height: 30px;
            background-color: #333;
            border: 2px solid #00ffcc;
            box-shadow: 0px 0px 15px #00ffcc;
            margin-top: -5px;
            margin-left: 70px;
            padding: 10px 0;
            display: flex;
            justify-content: center;
        }

        .option {
            margin: 0 10px;
            padding: 10px 20px;
            color: #FFFFFF;
            cursor: pointer;
            background-color: transparent;
            border: none;
        }

        .option:hover {
            color: #ff00ff;
            transform: scale(1.1);
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: #333;
            border: 2px solid #00ffcc;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 25px #00ffcc;
        }

        .modal button {
            margin-top: 10px;
            padding: 10px 15px;
            background-color: #00ffcc;
            color: #1a1a1a;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .modal button:hover {
            background-color: #ff00ff;
        }

        .notification {
            display: none;
            position: fixed;
            left: 20px;
            bottom: 20px;
            background-color: #00cc00;
            color: white;
            padding: 10px;
            border-radius: 5px;
            transition: opacity 0.5s;
        }
header {
            position: sticky;
            top: 0;
            z-index: 1000;
            display: flex;
            justify-content: space-between;
            align-items: center; /* Align vertically */
            padding: 0px 50px; /* Reduce padding to fit better */
            background-color: #111;
            box-shadow: 0px 0px 15px #00ffcc;
         }


        /* Logo styling */
        .logo {
            margin-top: 7px;
            font-size: 1.8rem;
            font-weight: bold;
            color: #00ffcc;
        }
        .logo img {
            height: 50px;
            width: 50px;
            border-radius: 5px;

        }

        .header-buttons {
             display: flex;
             align-items: center; /* Align items vertically */
             gap: 20px;
         }


        .header-buttons a {
            padding: 10px 0px;
            color: #00ffcc;
            text-decoration: none;
            font-size: 1.2rem;
            text-transform: uppercase;
            transition: background-color 0.3s ease-in-out;
        }

        .header-buttons a:hover {
            color: #ff00ff;
            text-shadow: 0px 0px 25px #ff00ff;
        }
        
        .header-buttons img {
            height: 50px;
            width: 62.5px;
        }
        
       
        
        
